.search {
  grid-row: 2;
  grid-column: 1/-1;
  padding-bottom: 36px;
  margin-bottom: 36px;
  border-bottom: 1px solid black;
}

.list {
  display: flex;
  grid-column: 1/-1;
  grid-row: 4;
  align-items: start;
  justify-content: start;
  align-content: start;
  flex-wrap: wrap;
  gap: 16px;
}

.empty {
  font-size: 1.6rem;
  font-weight: bold;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 32px;
  grid-row: 3;
  grid-column: 1/-1;
}

.category {
  width: 100%;

  &.active {

    button {
      background-color: var(--color-icon-active);
    }
  }

  @include media('>phone') {
    max-width: 160px;
  }

  button {
    padding: 8px;
    border-radius: 8px;
    border: none;
    background: var(--color-primary);
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    width: 100%;
  }
}