.form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .order {
    width: 320px;
    padding: 16px;
    margin: 0 auto;
    background: var(--color-success);
  }

  .edit {
    width: 320px;
    padding: 16px;
    margin: 0 auto;
    background: var(--color-edit);
  }

  .deleteAll {
    width: 320px;
    padding: 16px;
    margin: auto auto 0 auto;
    background: var(--color-error);
  }

  .sum {
    font-size: 2.4rem;
    text-align: center;

    span {
      font-size: inherit;
      font-weight: bold;
      color: var(--color-primary-active);
    }
  }
}