.form {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 672px;

  @include media('>phone') {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  .title {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
  }

  .input {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }

  .button {
    margin: 0 auto;
    max-width: 240px;
    width: 100%;

    &.edit {
      background: var(--color-edit);
    }

    &.disabled {
      display: none;
    }

    @include media('>phone') {
      grid-column: 1/-1;
      grid-row: 3;
    }
  }
}