.container {
  background: var(--color-secondary);
  padding: 14px 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  @include media('>phone') {
    padding: 14px 24px;
  }

  @include media('>laptop') {
    padding: 14px 32px;
  }

  .list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    p {
      display: none;
      font-size: 1.8rem;
      font-weight: bold;

      @include media('>phone') {
        display: block;
      }
    }

    &:last-of-type {
      margin-left: auto;
    }
  }

  .button {
    width: 100px;
    font-size: 1.2rem;

    @include media('>phone') {
      width: 120px;
      font-size: 1.6rem;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;

    @include media('>phone') {
      width: 48px;
      height: 48px;
    }

    &:hover, &.active {

      path {
        stroke: var(--color-icon-active);
      }
    }
  }
}