.container {

  .input {

    p {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    input {
      font-size: 1.8rem;
      max-width: 600px;
      padding: 12px;
    }
  }
}