.container {
  padding: 32px;
  display: flex;
  min-height: calc(100vh - var(--header-height-mobile));
  margin-top: var(--header-height-mobile);

  @include media('>phone') {
    min-height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
  }

  .title {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 32px;

    @include media('>iPad') {
      margin-bottom: 64px;
    }

  }

  .wrapper {
    width: calc(100% - 64px);
  }
}