.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-secondary);


  svg rect {
    fill: var(--color-primary-active);
  }
}

.main {
  margin-top: var(--header-height-mobile);

  @include media('>phone') {
    margin-top: var(--header-height);
  }
}