.container {
  padding: 16px;

  @include media('>phone') {
    padding: 32px;
  }

  .link {
    font-size: 16px;
    color: var(--color-primary-active);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .form {
    display: grid;
    grid-template-columns: 320px 1fr;
  }


}